<h1>Reset password</h1>
<form action="<%= reset_password_url %>" method="post">
	<%= render 'shared/errors' %>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="email">Email</label>
	<input type="text" id="email" name="user[email]" placeholder="Email">
	<br>
	<input type="submit" value="Reset password">
</form>